appdirs==1.4.4
atomicwrites==1.4.0
attrs==23.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
boto3==1.29.1
botocore==1.32.1
Brotli==1.0.9
cattrs==23.2.3
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
Flask==2.2.5
flatbuffers==23.5.26
future==0.18.3
idna==3.6
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.1
numpy==1.26.3
openmeteo_requests==1.1.0
openmeteo_sdk==1.7.1
packaging==23.1
pandas==2.1.4
pip==23.3.1
platformdirs==4.1.0
pluggy==1.0.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.23.0
pycparser==2.21
PySocks==1.7.1
pytest==7.4.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-cache==1.1.1
retry-requests==2.0.0
s3transfer==0.7.0
selenium==3.141.0
setuptools==68.2.2
six==1.16.0
tqdm==4.65.0
tzdata==2023.4
url-normalize==1.4.3
urllib3==2.1.0
Werkzeug==2.2.3
wheel==0.41.2
zstandard==0.19.0
